@charset"UTF-8";

/*Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

/* Cores escolhidas pelo professor. Deixar a paleta aqui para ir usando. 
#c5ebd6 - Tom de verde mais claro até o verde mais escurso.
#83elad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

/*A raiz, tudo aqui vai ser usado para todo o projeto declarando a 
    variavel */
:root { 
  --cor0:  #ebe5c5 ;
  --cor1:  #83e1ad;
  --cor2:  #3ddc84 ; 
  --cor3:  #2fa866 ;
  --cor4:  #1a5c37; 
  --cor5:  #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue' , cursive;
  --fonte-android:  'Android' , cursive;

}
/*Todos os elementos do HTML*/
*{/*Sem borda e margem, vai ter de organizar tudo, para ter responsividade*/
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family:var(--fonte-destaque);
}


a.externo::after {
    content: '\00A0\1F517';
}

header {
   /* background-color: var(--cor4);*/
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav{

    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav > a {
    font-family:Arial, Verdana, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
   font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    /* border-radius: 10px; *//*Para todas as pontas*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {/*main p, seria a configuração para o main e para o P não para o 
    filho com main > p, até porque neste caso tem um article, e daria problema*/
    margin: 15px 0px; 
    text-align: justify;
    text-indent: 30px; /*Recuo*/
    font-size: 1em; /*Aumenta fonte, 1.1 já fica maior as letras*/
    line-height: 2em; /*Espaçamento entre linhas*/
}

main img {
    width: 100%;
}

main strong {
    color: var(--cor4);
    font-weight:bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img.pequena {
    max-width: 350px;
    display: block; /*como é uma imagem tem que usar o block par centralizar*/
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;/*Gambiarra porque no vídeo do youtube já vem com os tamanhos do vídeo*/
    position: relative /*Gambiarra porque no vídeo do youtube já vem com os tamanhos do vídeo*/
}

div.video > iframe {/*Gambiarra porque no vídeo do youtube já vem com os tamanhos do vídeo*/
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    /*Essas gambiarras tem que ser feita para o vídeo ficar responsivo, já que o vídeo do youtube vem com configurações padrões.*/
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside > ul{
    list-style-type: '\2714\00A0'; /*Não é compativo com todo navegador, e o 00A0 é o espaço entre o check e o texto*/
    list-style-position: inside;
    columns: 2;
 }



footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}